<h1>New order</h1>

<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bought_on %>
    <%= f.text_field :bought_on %>
  </div>

  <table>
    <thead>
      <tr>
        <th>Canele</th>
        <th>Count</th>
      </tr>
    </thead>

    <tbody>
      <% @caneles.each do |canele| %>
        <div class="field">
          <tr>
	    <td><%= canele.name %></td>
   	    <td><%= f.number_field :count, index: canele.id %>
	      <%= f.hidden_field :canele_id, index: canele.id, value: canele.id %></td>
	  </tr>
	</div>
      <% end %>
    </tbody>
  </table>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', orders_path %>
