<%= form_for(@canele) do |f| %>
  <% if @canele.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@canele.errors.count, "error") %> prohibited this canele from being saved:</h2>

      <ul>
      <% @canele.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :started_from %><br>
    <%= f.date_select :started_from %>
  </div>
  <div class="field">
    <%= f.label :discontinued_in %><br>
    <%= f.date_select :discontinued_in %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
